[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore_global
    autocrlf = input
    safecrlf = true
    fsmonitor = true 
    untrackedCache = true
    fileMode = false

[init]
    defaultBranch = main

[fetch]
    prune = true
    pruneTags = true

[pull]
    rebase = true
    autoSetupRemote = true
    ff = only

[push]
    autoSetupRemote = true
    followTags = true
    default = simple

[merge]
    conflictstyle = zdiff3
    tool = nvim

[rerere]
    enabled = true
    autoupdate = true

[diff]
    colorMoved = default
    algorithm = histogram
    tool = nvim

[rebase]
    autoStash = true
    updateRefs = true

[help]
    autocorrect = prompt

[tag]
    sort = -version:refname
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.gitconfig.allowed_signers
    defaultKeyCommand = sh -c 'cat "$HOME/.ssh/id_ed25519_signing.pub"'

[commit]
    gpgsign = true
    verbose = true

[credential]
    helper = osxkeychain

[status]
    showUntrackedFiles = all
    column = enable

[branch]
    sort = -committerdate

[maintenance]
    auto = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Monokai Extended
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    decorations = true
    features = decorations

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[alias]
    lg = log --graph --pretty=format:'%C(auto)%h%Creset %C(magenta)%G?%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --graph --pretty=format:'%C(auto)%h%Creset %C(magenta)%G?%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    st = status --short --branch
    s = status
    last = log -1 HEAD
    br = branch --sort=-committerdate
    ba = branch -a
    bd = branch -d
    bD = branch -D
    co = checkout
    cob = checkout -b
    df = diff
    dc = diff --cached
    d = diff --cached
    undo = reset --soft HEAD~1
    amend = commit --amend
    purge = clean -fdx
    who = shortlog -sn --no-merges
    unstage = restore --staged
    ri = rebase -i HEAD~10
    rim = rebase -i main
    root = rev-parse --show-toplevel

[difftool "nvim"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[mergetool "nvim"]
    cmd = nvim -d -c \"wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = true

[include]
    # This looks for the local file in your home directory
    path = ~/.gitconfig.local
